<p id="notice"><%= notice %></p>

<p>
  <strong>Title</strong><br>
  <%= @product.title %>
</p>

<p>
  <strong>Description</strong><br>
  <%= @product.description %>
</p>

<p>
  <strong></strong>
  <%= image_tag @product.image_url %>
</p>

<p>
  <strong>Price</strong><br>
  $<%= @product.price %>
</p>

<p>
  <strong>Artist</strong><br>
  <%= link_to @product.artist.name, artist_url %>
</p>
<br>
<p>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</p>
