<!DOCTYPE html>
<html>
<head>
  <title>Artmarket</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <header class="header" id="header">
    <%= link_to image_tag("http://i946.photobucket.com/albums/ad303/pkellz6/logo3_zpsc8opuhna.png") , root_path%>
    <h1 class="home"><a class="home"><%= link_to "Gallery",  products_path %></a></h1>
    <h1 class="home"><a class="home"><%= link_to "Artists",  artists_path %></a></h1>
    <h1 class="home"><a class="home"><%= link_to "About",  abouts_path %></a></h1>
  </header>
</head>
<body>

<%= yield %>

</body>
</html>
